body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.header {
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

.header li {
  display: inline-block;
  margin-left: 20px;
}

a {
  color: seashell;
}

.logo {
  height: 50px;
}

.mission {
  background-image: url(images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.mission-header-container {
  background-color: black;
  text-align: center;
  width: 100%;
}

.teatype {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 50px;
}

.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  width: 300px;
  margin: 10px;
}

.item img {
  height: 200px;
  width: 300px;
}

.item h4 {
  margin-top: 10px;
}

.locations {
  background-image: url(images/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;

}

.location-boxes {
  display: flex;
  justify-content: center;
}

.location-box {
  width: 300px;
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.locations h2 {
  width: 100%;
  padding-top: 65px;
}

.footer {
  text-align: center;
}

.footer h2 {
  margin-bottom: 50px;
}

.footer p {
  margin-top: 60px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 40px;
}