body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.header {
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

.header li {
  display: inline-block;
  margin-left: 20px;
}

a {
  color: seashell;
}

.logo {
  height: 50px;
}

.mission {
  background-image: url(images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.mission-header-container {
  background-color: black;
  text-align: center;
  width: 100%;
}

/* .header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 6;
  }



.mission h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 6;
  }

.teatype {
    background-color: #9041de;
    height: 200px;
  }

.teatype h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 6;
  }

  .locations {
    background-color: #8fec51;
    height: 200px;
  }

.locations h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 6;
  }

  .footer {
    background-color: #f07d7d;
    height: 200px;
  }

.footer h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 6;
  } */